<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<style>
    body{
        background-color: #aaaaaa;
    }

    .header {
        width: 20%;
        margin: 100px auto;
    }

    a {
        text-decoration: none;
        color: black;
    }


    nav{
        display: flex;
        font-size: 30px;
        margin: 0 auto;
        background-color: white;
        justify-content: space-evenly;
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
        position: sticky;
        top: 0;
        position: -webkit-sticky;
        background-color: gray;

    }

    nav > a {
        margin: 10px;
        text-decoration: none;
        color: black
    }

    nav >a:hover{
        background-color: lightgray;
    }

    .home-image{
        width: 250px;
        margin: 0 auto;
    }

    .categories {
        width: 10%;
        margin: 0 auto;
    }

    .category {
        margin-top: 80px;
    }

    .series {
        width: 40%;
        margin: 30px auto;
    }
</style>
<body>
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
</body>
</html>