<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style></style>
<body>
    {% for user in foo %}
    <h1>{{ user }}</h1>
    <!-- <h5>{{ user.pic }}</h5> -->
    <img src="{{ user.pic.url }}">  
    <h3>{{ user.bio }}</h3>
  {% endfor %}
</body>
</html>

