<nav>
    <a href="/">Home</a>
    <a href="/profile/">Profile</a>
    <a href='/store/quarters/'>Store</a>
    <a href="/orders/">Orders</a>
    <a href="/inventory/">Inventory</a>
    <a href="/logout/">Logout</a>
</nav>