{% extends 'base.html' %}
{% block content %}

    <div class="orders">
        {% if orders %}
            {% for order in orders %}
                <div class="order">
                    <ul>
                        <li>
                            <p>Order number: {{ order.order_number }}</p>
                        </li>
                        <li>
                            <p>Created at: {{ order.time_created }}</p>
                        </li>
                        <li>
                            <p>Status: {{order.status }}</p>
                        </li>
                        <li>
                            <p>Coin: {{ order.coin }}</p>
                        </li>
                        <li>
                            <p>seller</p>
                        </li>
                        <li>
                            <p>buyer</p>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <h6>There are currently no orders to display. Either go buy some coins or list some coins for sale and then check back!</h6>
        {% endif %}
    </div>

{% endblock %}