{% extends 'base.html' %}


{% block content %}

    <div class="order">
        <img src="/media/{{order.coin.obverse_pic}}" alt="">
        <img src="/media/{{order.coin.reverse_pic}}" alt="">
        <ul>
            <li><h4>Order #{{ order.order_number }}</h4></li>
            <li>Status: {{ order.status }}</li>
            <li>Time created: {{ order.time_created }}</li>
            <li>Coin: <a href="/inventory/coin/{{order.coin.id}}">{{ order.coin.year }} {{order.coin.series}}</a></li>
            <li>Seller: {{ order.seller}}</li>
            <li>Buyer: {{ order.buyer }}</li>
            {% if order.status == 'waiting payment' %}
            <li><a href="/order/status/{{order.id}}/paid"><button>pay {{ order.coin.price }}</button></a></li>
            {% elif order.status == 'paid' and request.user == order.seller %}
            <li><a href="/order/status/{{order.id}}/shipped"><button>Ship</button></a></li>
            {% elif order.status == 'shipped' and request.user == order.buyer %}
            <li><a href="/order/status/{{order.id}}/fulfilled"><button>Recieved coin</button></a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}