{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}

    <div class="orders">
        <h2>Coins being sold</h2>
        {% if selling %}
            {% for order in selling %}
                {{order.selling}}
                <a href="/order/{{order.id}}">
                    <div class="selling">
                        <ul>
                            <img src="/media/{{order.coin.obverse_pic}}" alt="">
                            <img src="/media/{{order.coin.reverse_pic}}" alt="">
                            <li><h4>Order #: {{order.order_number}}</h4></li>
                            <li>Time created: {{order.time_created}}</li>
                            <li>Coin: <a href="/inventory/coin/{{order.coin.id}}">{{order.coin.year}} {{order.coin.series}}</a></li>
                            <li>Seller: {{order.seller}}</li>
                            <li>Buyer: {{order.buyer}}</li>
                        </ul>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                <h2>You're not selling any coins right now. When you list a coin for sale it will automagically appear here</h2>
        {% endif %}

        <h2>Coins you're buying</h2>
        {% if buying %}
            {% for order in buying %}
                
                <a href="/order/{{order.id}}">
                    <div class="buying">
                        <ul>
                            <img src="/media/{{order.coin.obverse_pic}}" alt="">
                            <img src="/media/{{order.coin.reverse_pic}}" alt="">
                            <li><h4>Order #: {{order.order_number}}</h4></li>
                            <li>Time created: {{order.time_created}}</li>
                            <li>Coin: <a href="/inventory/coin/{{order.coin.id}}">{{order.coin.year}} {{order.coin.series}}</a></li>
                            <li>Seller: {{order.seller}}</li>
                            <li>Buyer: {{order.buyer}}</li>
                        </ul>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                <h2>You dont have any purchase orders open at the moment. When you buy a coin it will show up here</h2>
        {% endif %}
    </div>

{% endblock %}