{% extends "base.html" %}

{% block content %}
    <style>
    
        #username{
            display: flex;
            justify-content: center;
        }
    
        #pic{
            display: block;
            align-items: center;
            justify-content: center;
            border: .98767px solid black;
            margin: auto;
            width: 147px;
            border-radius: 10px;
            padding: 2px;
        }
    
        #bio{
            display: flex;
            justify-content: center;
            border: 7px solid #D3D3D3;
            border-radius: 10px;
            padding: 12px;
            margin:100px;
        }
    
        #date_joined{
            display: flex;
            justify-content: center;
            border: 7px solid #D3D3D3;
            border-radius: 10px;
            padding: 2px;
            margin:100px;
        }
    
    </style>
    <br>
    <h1 id="username"> {{ username }}</h1><br>
    <img id="pic" src="/media/{{ pic }}"><br>
    <h4 id="bio">BIO: {{ bio }}</h4><br>
    <h5 id="date_joined">Date Joined: {{ date_joined }}</h5><br>
{% endblock content %}

