<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ CoinNerd }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<style>
    .inventory{
        display: flex;
    }

    .coin{
        border: 1px solid black;
        margin: 20px 0;
        width: 70%;
    }

    .filters{
        float: right;
    }

    ul{
        list-style: none;
    }
</style>
<body>
    {% block content %}{% endblock %}
</body>
</html>