{% extends 'base.html' %}
{% block content %}
<style>
#body{
    background-color: #aaaaaa;
}
#username{
    display: flex;
    justify-content: center;
}

#pic{
    display: block;
    align-items: center;
    justify-content: center;
    border: .98767px solid black;
    margin: auto;
    width: 147px;
    border-radius: 10px;
    padding: 2px;
}

#bio{
    display: flex;
    justify-content: center;
    border: 7px solid #D3D3D3;
    border-radius: 10px;
    padding: 12px;
    margin:100px;
}

#date_joined{
    display: flex;
    justify-content: center;
    border: 7px solid #D3D3D3;
    border-radius: 10px;
    padding: 2px;
    margin:100px;
}
#nav{
    display: flex;
    width: 80%;
    font-size: 30px;
    margin: 0 auto;
    justify-content: space-evenly;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    }
#a{
    margin: 10px;
    text-decoration: none;
    color: black
}
#a:hover{
    background-color: lightgray;
}
.coin{
    color: black;
}
img {
            border: solid black;
            border-radius: 10px;
        }
</style>
<body id=body>

    <div class="coin">
        <ul id="class">
            <li><img src="/media/{{coin.obverse_pic}}" alt=""></li>
            <li><img src="/media/{{coin.reverse_pic}}" alt=""></li>
            <li><p>Kind: {{ coin.kind }}</p></li>
            <li><p>Description: {{ coin.description }}</p></li>
            <li><p>Series: {{ coin.series }}</p></li>
            <li><p>Condition: {{ coin.condition }}</p></li>
            <li><p>Year: {{ coin.year }}</p></li>
            <li><p>Price: {{ coin.price }}</p></li>
            <li><p>Mint: {{ coin.mint }}</p></li>
            <li><p>Denomination: {{ coin.denomination }}</p></li>
            <li><p>Composition: {{ coin.composition }}</p></li>
            <li><p>Unique features: {{ coin.unique_feature }}</p></li>
            <li><p>SKU: {{ coin.sku }}</p></li>
            <li><p>For sale: {{ coin.for_sale }}</p></li>
        </ul>
    </div>

{% endblock %}