{% extends 'base.html' %}
{%block content%}
<style>
#body{
    background-color: #aaaaaa;
}
#username{
    display: flex;
    justify-content: center;
}

#pic{
    display: block;
    align-items: center;
    justify-content: center;
    border: .98767px solid black;
    margin: auto;
    width: 147px;
    border-radius: 10px;
    padding: 2px;
}

#bio{
    display: flex;
    justify-content: center;
    border: 7px solid #D3D3D3;
    border-radius: 10px;
    padding: 12px;
    margin:100px;
}

#date_joined{
    display: flex;
    justify-content: center;
    border: 7px solid #D3D3D3;
    border-radius: 10px;
    padding: 2px;
    margin:100px;
}
#nav{
    display: flex;
    width: 80%;
    font-size: 30px;
    margin: 0 auto;
    justify-content: space-evenly;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    }
#a{
    margin: 10px;
    text-decoration: none;
    color: black
}
#a:hover{
    background-color: lightgray;
}
img {
            border: solid black;
            border-radius: 10px;
        }
h4{
    color:black;
}
</style>
<body id=body>


    {% if message %}
        <h2 style="color: red;">{{ message }}</h2>
    {% endif %}

    {% include 'generic_form.html' with header="<h4>Enter a new coin</h4>" %}


{%endblock%}