<style>
    body{
            background-color: #aaaaaa;
        }
        #nav{
                display: flex;
                width: 90%;
                font-size: 30px;
                margin: 0 auto;
                justify-content: space-evenly;
                border-top: 2px solid lightgray;
                border-bottom: 2px solid lightgray;
                position: sticky;
                top: 0;
                position: -webkit-sticky;
                background-color: gray;
                }
            #a{
                margin: 10px;
                text-decoration: none;
                color: black
            }
            #a:hover{
                background-color: lightgray;
            }
            p{
                color: black;
            }
            img {
                border: solid black;
                border-radius: 10px;
            }
            </style>

New User Form
<form method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>

{{ html|safe }}