{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background-color: #aaaaaa;
    }
    #nav{
            display: flex;
            width: 90%;
            font-size: 30px;
            margin: 0 auto;
            justify-content: space-evenly;
            border-top: 2px solid lightgray;
            border-bottom: 2px solid lightgray;
            position: sticky;
            top: 0;
            position: -webkit-sticky;
            background-color: gray;
            }
        #a{
            margin: 10px;
            text-decoration: none;
            color: black
        }
        #a:hover{
            background-color: lightgray;
        }
        p{
            color: black;
        }
        img {
            border: solid black;
            border-radius: 10px;
        }
</style>

    <div class="home">
        <div class="header">
            <h1>Welcome to our coin site!</h1>
            <img class="home-image" src="https://s3.amazonaws.com/ngccoin-production/us-coin-explorer-category/4478500-006o.jpg" alt="1883 seated liberty half dollar in mint state">
            <p class="history">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam est in, accusamus minima delectus consectetur modi beatae eius, rerum enim et. Possimus obcaecati consectetur voluptates. Hic recusandae minus reiciendis repudiandae?</p>
        </div>

        <div class="categories">
            <h5>Categories</h5>

            <a href="/store/quarters/">
                <div class="category">
                    <img class="home-image" src="https://www.usacoinbook.com/us-coins/seated-liberty-quarter-type-1-no-motto-no-drapery.jpg" alt="">
                    <p>Quarter Dollars</p>
                </div>
            </a>

            <a href="/store/half-dollar/">
                <div class="category">
                    <img class="home-image" src="https://www.usacoinbook.com/us-coins/barber-half-dollar.jpg" alt="">
                    <p class="category-link">Half Dollars</p>
                </div>
            </a>


            <a href="/store/dollar/">
                <div class="category">
                    <img class="home-image" src="https://www.govmint.com/media/catalog/product/cache/94798ddef09e704c73fc83615182db87/3/4/340298_2.jpg" alt="">
                    <p class="category-link">Dollars</p>
                </div>
            </a>

            <a href="/store/silver-dollars/">
                <div class="category">
                    <img class="home-image" src="https://www.govmint.com/media/catalog/product/cache/94798ddef09e704c73fc83615182db87/2/2/222047_1.jpg" alt="">
                    <p class="category-link">Silver Dollars</p>
                </div>
            </a>
            </div>
    </div>

{%endblock%}