{% extends 'base.html' %}
{% block content %}
<style>
        body{
                background-color: #aaaaaa;
            }
            #nav{
                    display: flex;
                    width: 90%;
                    font-size: 30px;
                    margin: 0 auto;
                    justify-content: space-evenly;
                    border-top: 2px solid lightgray;
                    border-bottom: 2px solid lightgray;
                    position: sticky;
                    top: 0;
                    position: -webkit-sticky;
                    background-color: gray;
                    }
                #a{
                    margin: 10px;
                    text-decoration: none;
                    color: black
                }
                #a:hover{
                    background-color: lightgray;
                }
                p{
                    color: black;
                }
                img {
                    border: solid black;
                    border-radius: 10px;
                }
                </style>

    <div class="">
        <img class="home-image" src="https://www.usacoinbook.com/us-coins/barber-quarter.jpg" alt="">
        <p class="history">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil dolorem ex voluptate doloremque doloribus iste, ipsa, repudiandae dolores qui, maiores nulla? Iste, voluptates itaque. Hic dolorum nemo excepturi suscipit quis?</p>

        <div class="store">
            {% if coins %}
                {% for coin in coins %}
                    <div class="coin">
                        <p>{{ coin.condition }}</p>
                        <p>{{ coin.description }}</p>
                        <button>{{ coin.price }}</button>
                    </div>
                {% endfor %}
            {% else %}
                    <p>There are no coins in this series currently for sale. Please check back later!</p>
            {% endif %}
        </div>
    </div>

{% endblock %}