{% extends 'base.html' %}
{% block content %}
<style>
body{
        background-color: #aaaaaa;
    }
    #nav{
            display: flex;
            width: 90%;
            font-size: 30px;
            margin: 0 auto;
            justify-content: space-evenly;
            border-top: 2px solid lightgray;
            border-bottom: 2px solid lightgray;
            position: sticky;
            top: 0;
            position: -webkit-sticky;
            background-color: gray;
            }
        #a{
            margin: 10px;
            text-decoration: none;
            color: black
        }
        #a:hover{
            background-color: lightgray;
        }
        p{
            color: black;
        }
        img {
            border: solid black;
            border-radius: 10px;
        }
        </style>

    <div class="series">
        <h1>Quarter Dollars</h1>
        <p class="history">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, neque. Aperiam quam similique nesciunt aliquam maxime ratione laudantium inventore repellendus sapiente natus numquam vel veritatis, magni quos modi consequatur id?</p>

        <a href="/store/quarters/draped-bust">   
            <div class="series">
                <img class="home-image" src="https://www.usacoinbook.com/us-coins/1807-draped-bust-quarter.jpg" alt="">
                <p>Draped bust 1796 - 1807</p>
            </div>
        </a>

        <a href="/store/quarters/capped-bust">
            <div class="series">
                <img class="home-image" src="https://www.usacoinbook.com/us-coins/capped-liberty-quarter-with-motto.jpg" alt="">
                <p>Capped Bust 1815 - 1838</p>
            </div>
        </a>
        
        <a href="/store/quarters/seated-liberty">
            <div class="series">
                <img class="home-image" src="https://www.usacoinbook.com/us-coins/seated-liberty-quarter-type-1-no-motto-no-drapery.jpg" alt="">
                <p>Seated Liberty 1838 - 1891</p>
            </div>
        </a>

        <a href="/store/quarters/barber">
            <div class="series">
                <img class="home-image" src="https://www.usacoinbook.com/us-coins/barber-quarter.jpg" alt="">
                <p>Barber 1892 - 1916</p>
            </div>
        </a>

        <a href="/store/quarters/standing-liberty">
            <div class="series">
                <img class="home-image" src="https://img.ma-shops.com/numismaticclassics/pic/combined3143.jpg" alt="">
                <p>Standing libert 1916 - 1930</p>
            </div>
        </a>

        <a href="/store/quarters/washington">
            <div class="series">
                <img class="home-image" src="https://www.mullencoins.com/images/easyblog_images/44/b2ap3_large_1932-s-washington-quarter.jpg" alt="">
                <p>Washington 1932 - 1998</p>
            </div>
        </a>

    </div>

{% endblock %}